{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-medicamento.css' %}">
</head>

<body>

    {% block nav-bar %}
            <!--inicio navbar horizontal-->
    <nav class="navbar navbar-dark fixed-top bg-custom flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">SINARS</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'app_principal:principal' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <!--fin navbar horizontal-->
    {% endblock %}

    
    <div class="container-fluid">
        {% block sidebar %}
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light pt-4 sidebar collapse">
                    <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_home:Home' %}">
                            <span data-feather="home"></span>
                            <h4>Home</h4>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_examenes:examen'%}">
                            
                            <h4>Exámenes</h4>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="{% url 'app_medicamentos:medicamentos' %}">
                            <h4>Medicamentos</h4>
                        </a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
        {% endblock %}
        <div class="col-md-10 ml-auto" style="height: 750px;">
            {% block medicamento %}
            
            {% endblock %}
            
            {% block datos-personales %}
                
            {% endblock %}
          <div class="row">
            <div class="col-md-12 patologia">
                {% block patologias %}
              
              {% endblock %}
            </div>
          </div>
          <br>
        </div>
      </div>

    {% block footer %}
    <footer class="container-fluid bg-custom text-center w-100" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">&copy; 2020 Awakelab.</p>
                    <p class="text-muted">Grupo Full Stack Python</p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>